// 默认按钮的颜色
.c-button{
  border-radius: 4px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #dcdfe6;
  color: #606266;
  outline: none;
  background-color: #fff;
  &.is-disabled{
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
  }
  &.is-circular{
    border-radius: 20px;
  }
}

// 类型为default
.c-button-default {
  &:not(.is-disabled):hover{
    cursor: pointer;
    color: $btn-primary-bg;
    border-color: $btn-default-border-color;
    background-color: $btn-default-bg;
  }
  &.is-plain{
    &:hover{
      background: #fff;
      border-color: $btn-primary-bg;
      color: $btn-primary-bg;
    }
  }
}
/** size begin */
// 大按钮
.c-button-large{
  font-size:14px;
  padding:10px 20px;
}
// 小按钮
.c-button-small,.c-button-default-small{
  font-size:12px;
  padding:9px 15px;
}
.c-button-mini{
  font-size:12px;
  padding:7px 15px;
}
/** size end */

/** type begin */
// 类型为primary
.c-button-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-bg;
  color:#fff;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background: $btn-primary-bg-disabled;
    border-color: $btn-primary-bg-disabled;
  }
  &:not(.is-disabled):hover{
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-bg-hover;
    color: #fff;
  }

  &.is-plain{
    color: $btn-primary-bg;
    background: $btn-primary-plain-bg;
    border-color: $btn-primary-plain-border-color;
    &:not(.is-disabled):hover{
      background: $btn-primary-bg;
      border-color: $btn-primary-bg;
      color: #fff;
    }
    &.is-disabled{
      color: $btn-primary-plain-disabled-color;
      background-color: $btn-primary-plain-disabled-bg;
      border-color: $btn-primary-plain-disabled-border-color;
    }
  }
}
// 类型为warning
.c-button-warning {
  color: #fff;
  background-color: $btn-warning-bg;
  border-color: $btn-warning-bg;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: $btn-warning-bg-disabled;
    border-color: $btn-warning-bg-disabled;
  }
  &:not(.is-disabled):hover{
    cursor: pointer;
    background: $btn-warning-bg-hover;
    border-color: $btn-warning-bg-hover;
    color: #fff;
  }

  &.is-plain {
    color: #e6a23c;
    background: #fdf6ec;
    border-color: #f5dab1;
    &:not(.is-disabled):hover {
      background: #e6a23c;
      border-color: #e6a23c;
      color: #fff;
    }
    &.is-disabled {
      color: #f0c78a;
      background-color: #fdf6ec;
      border-color: #faecd8;
    }
  }
}
// 类型为success
.c-button-success {
  color: #fff;
  background-color: $btn-success-bg;
  border-color: $btn-success-bg;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: $btn-success-bg-disabled;
    border-color: $btn-success-bg-disabled;
  }
  &:not(.is-disabled):hover{
    cursor: pointer;
    background: $btn-success-bg-hover;
    border-color: $btn-success-bg-hover;
    color: #fff;
  }

  &.is-plain {
    color: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;
    &:not(.is-disabled):hover {
      background: #67c23a;
      border-color: #67c23a;
      color: #fff;
    }
    &.is-disabled {
      color: #a4da89;
      background-color: #f0f9eb;
      border-color: #e1f3d8;
    }
  }
}
// 类型为info
.c-button-info {
  color: #fff;
  background-color: $btn-info-bg;
  border-color: $btn-info-bg;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: $btn-info-bg-disabled;
    border-color: $btn-info-bg-disabled;
  }
  &:not(.is-disabled):hover{
    cursor: pointer;
    background: $btn-info-bg-hover;
    border-color: $btn-info-bg-hover;
    color: #fff;
  }

  &.is-plain {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;
    &:not(.is-disabled):hover {
      background: #909399;
      border-color: #909399;
      color: #fff;
    }
    &.is-disabled {
      color: #bcbec2;
      background-color: #f4f4f5;
      border-color: #e9e9eb;
    }
  }
}
// 类型为danger
.c-button-danger {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: #fab6b6;
    border-color: #fab6b6;
  }
  &:not(.is-disabled):hover{
    cursor: pointer;
    background: #f78989;
    border-color: #f78989;
    color: #fff;
  }
  &.is-plain {
    color: #f56c6c;
    background: #fef0f0;
    border-color: #fbc4c4;
    &:not(.is-disabled):hover {
      background: #f56c6c;
      border-color: #f56c6c;
      color: #fff;
    }
    &.is-disabled {
      color: #f9a7a7;
      background-color: #fef0f0;
      border-color: #fde2e2;
    }
  }
}

// 类型为文字按钮
.c-button-text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  &.is-disabled{
    color: #c0c4cc;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
  }
  &:not(.is-disabled):hover{
    background-color: transparent;
    border-color:transparent;
  }
}
/** type end */
