// 默认按钮的颜色
.c-button{
  border-radius: 4px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #dcdfe6;
  color: #606266;
  outline: none;
  background-color: #fff;
  //display: inline-flex;
  //justify-content: center;
  //align-items: center;
  vertical-align: middle;
  &.is-disabled{ // 禁用样式
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
  }
  &.is-radius{ // 圆角样式
    border-radius: 20px;
  }
  &.is-circular{ // 原型样式
    border-radius: 50%;
    padding:12px 14px;
  }

  &.icon-left{
    direction: ltr;
    >.icon{
      display: inline-block;
      direction: rtl;
    }
    >.content{
      display: inline-block;
      direction: rtl;
      margin-left:5px;
      margin-right:0px;
    }
    //>.icon{
    //  order:0;
    //}
    //>.content{
    //  odrder:1;
    //  margin-left:5px;
    //  margin-right:0px;
    // display: block;
    //}
  }
  &.icon-right{
    direction: rtl; // 右向左
    >.icon{
      display: inline-block;
      direction: ltr;
    }
    >.content{
      display: inline-block;
      direction: ltr;
      margin-left:0px;
      margin-right:5px;
    }
    //>.icon{
    //  order:1;
    //}
    //>.content{
    //  odrder:0;
    //  margin-left:0px;
    //  margin-right:5px;
    //  //display: inline-block;
    //  display: block;
    //}
  }
}

// 类型为default
.c-button-default {
  &:not(.is-disabled):hover{
    cursor: pointer;
    color: $btn-primary-bg;
    border-color: $btn-default-border-color;
    background-color: $btn-default-bg;
  }
  &.is-plain{
    &:hover{
      background: #fff;
      border-color: $btn-primary-bg;
      color: $btn-primary-bg;
    }
  }
}
/** size begin */
// 大按钮
.c-button-large{
  font-size:14px;
  padding:10px 20px;
  &.is-circular{
    padding:10px 12px;
  }
}
// 小按钮
.c-button-small,.c-button-default-small{
  font-size:12px;
  padding:9px 15px;
  &.is-circular{
    padding:9px 11px;
  }
}
.c-button-mini{
  font-size:12px;
  padding:7px 15px;
  &.is-circular{
    padding:7px 8px;
  }
}
/** size end */
/** type begin */
@mixin btnStyle($btn-bg, $btn-bg-disabled,$btn-bg-hover,$btn-plain-disabled-color,$btn-plain-disabled-bg,$btn-plain-disabled-border-color,$btn-plain-bg,$btn-plain-border-color) {
  color: #fff;
  background-color: $btn-bg;
  border-color: $btn-bg;
  &:hover,&.is-disabled{
    color: #fff;
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: $btn-bg-disabled;
    border-color: $btn-bg-disabled;
  }
  &:not(.is-disabled):hover{
    cursor: pointer;
    background: $btn-bg-hover;
    border-color: $btn-bg-hover;
    color: #fff;
  }

  &.is-plain{
    color: $btn-bg;
    background: $btn-plain-bg;
    border-color: $btn-plain-border-color;
    &:not(.is-disabled):hover{
      background: $btn-bg;
      border-color: $btn-bg;
      color: #fff;
    }
    &.is-disabled{
      color: $btn-plain-disabled-color;
      background-color: $btn-plain-disabled-bg;
      border-color: $btn-plain-disabled-border-color;
    }
  }
}
//  类型为primary
.c-button-primary{
  @include btnStyle($btn-primary-bg, $btn-primary-bg-disabled,$btn-primary-bg-hover, $btn-primary-plain-disabled-color,$btn-primary-plain-disabled-bg,$btn-primary-plain-disabled-border-color, $btn-primary-plain-bg,$btn-primary-plain-border-color);
}
//  类型为warning
.c-button-warning{
  @include btnStyle($btn-warning-bg, $btn-warning-bg-disabled,$btn-warning-bg-hover, $btn-warning-plain-disabled-color,$btn-warning-plain-disabled-bg,$btn-warning-plain-disabled-border-color, $btn-warning-plain-bg,$btn-warning-plain-border-color);
}
//  类型为success
.c-button-success{
  @include btnStyle($btn-success-bg, $btn-success-bg-disabled,$btn-success-bg-hover, $btn-success-plain-disabled-color,$btn-success-plain-disabled-bg,$btn-success-plain-disabled-border-color, $btn-success-plain-bg,$btn-success-plain-border-color);
}
//  类型为info
.c-button-info{
  @include btnStyle($btn-info-bg, $btn-info-bg-disabled,$btn-info-bg-hover, $btn-info-plain-disabled-color,$btn-info-plain-disabled-bg,$btn-info-plain-disabled-border-color, $btn-info-plain-bg,$btn-info-plain-border-color);
}
//  类型为danger
.c-button-danger{
  @include btnStyle($btn-danger-bg, $btn-danger-bg-disabled,$btn-danger-bg-hover, $btn-danger-plain-disabled-color,$btn-danger-plain-disabled-bg,$btn-danger-plain-disabled-border-color, $btn-danger-plain-bg,$btn-danger-plain-border-color);
}
// 类型为文字按钮
.c-button-text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  &.is-disabled{
    color: #c0c4cc;
    cursor: not-allowed;
    background-color: transparent;
    border-color: transparent;
  }
  &:not(.is-disabled):hover{
    background-color: transparent;
    border-color:transparent;
  }
}
/** type end */


