/* default颜色*/
$btn-default-border-color: #c6e2ff;
$btn-default-bg: #ecf5ff;
/* primary颜色 */
$btn-primary-bg: #409eff;
$btn-primary-bg-disabled: #a0cfff;
$btn-primary-bg-hover: #66b1ff;
$btn-primary-plain-disabled-color: #8cc5ff;
$btn-primary-plain-disabled-bg: #ecf5ff;
$btn-primary-plain-disabled-border-color: #d9ecff;
$btn-primary-plain-bg: #ecf5ff;
$btn-primary-plain-border-color: #b3d8ff;
/* warning颜色 */
$btn-warning-bg: #e6a23c;
$btn-warning-bg-disabled: #f3d19e;
$btn-warning-bg-hover: #ebb563;
$btn-warning-plain-disabled-color: #f0c78a;
$btn-warning-plain-disabled-bg: #fdf6ec;
$btn-warning-plain-disabled-border-color: #faecd8;
$btn-warning-plain-bg: #fdf6ec;
$btn-warning-plain-border-color: #f5dab1;
/* success颜色 */
$btn-success-bg: #67c23a;
$btn-success-bg-disabled: #b3e19d;
$btn-success-bg-hover: #85ce61;
$btn-success-plain-disabled-color: #a4da89;
$btn-success-plain-disabled-bg: #f0f9eb;
$btn-success-plain-disabled-border-color: #e1f3d8;
$btn-success-plain-bg: #f0f9eb;
$btn-success-plain-border-color: #c2e7b0;
/* info颜色 */
$btn-info-bg: #909399;
$btn-info-bg-disabled: #c8c9cc;
$btn-info-bg-hover: #a6a9ad;
$btn-info-plain-disabled-color: #bcbec2;
$btn-info-plain-disabled-bg: #f4f4f5;
$btn-info-plain-disabled-border-color: #e9e9eb;
$btn-info-plain-bg: #f4f4f5;
$btn-info-plain-border-color: #d3d4d6;
/* danger颜色 */
$btn-danger-bg: #f56c6c;
$btn-danger-bg-disabled: #fab6b6;
$btn-danger-bg-hover: #f78989;
$btn-danger-plain-disabled-color: #f9a7a7;
$btn-danger-plain-disabled-bg: #fef0f0;
$btn-danger-plain-disabled-border-color: #fde2e2;
$btn-danger-plain-bg: #fef0f0;
$btn-danger-plain-border-color: #fbc4c4;
