/* default颜色*/
$btn-default-border-color: #c6e2ff;
$btn-default-bg: #ecf5ff;
/* primary颜色 */
$btn-primary-bg: #409eff;
$btn-primary-bg-disabled: #a0cfff;
$btn-primary-bg-hover: #66b1ff;
$btn-primary-plain-disabled-color: #8cc5ff;
$btn-primary-plain-disabled-bg: #ecf5ff;
$btn-primary-plain-disabled-border-color: #d9ecff;
$btn-primary-plain-bg: #ecf5ff;
$btn-primary-plain-border-color: #b3d8ff;
/* warning颜色 */
$btn-warning-bg: #e6a23c;
$btn-warning-bg-disabled: #f3d19e;
$btn-warning-bg-hover: #ebb563;
/* success颜色 */
$btn-success-bg: #67c23a;
$btn-success-bg-disabled: #b3e19d;
$btn-success-bg-hover: #85ce61;
/* info颜色 */
$btn-info-bg: #909399;
$btn-info-bg-disabled: #c8c9cc;
$btn-info-bg-hover: #a6a9ad;
/* danger颜色 */
$btn-danger-bg: #f56c6c;
$btn-danger-bg-disabled: #fab6b6;
$btn-danger-bg-hover: #f78989;
